body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 2px -2px gray;
}

main {
    padding: 20px;
}

#categories, #movies {
    margin-bottom: 40px;
}

#category-list li {
    display: inline-block;
    margin-right: 15px;
}

.movie-item {
    display: inline-block;
    width: 200px;
    margin: 15px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

.movie-item img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 -4px 2px -2px gray;
}
